.login{
    margin: 0 auto;
    text-align: center;
    background-color: lightgreen;
    width: 450px;
    height: 250px;
    padding: 10px;
}

label {
    display: inline-block;
    width:100px;
    text-align: center;
}

.loginBtn {
    background-color: royalblue;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
}